@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body{
  font-family:"Roboto Condensed", sans-serif;
}

:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-deepdark: #061120;
}
/****************************************** NAVBAR ****************************************/
.navbar{
  background-color: var(--primary-deepdark) !important;
  margin: 0.05rem;
}
.logo{
  width: 6.25rem;
}

/******** Nav Links ***********/
nav a.nav-link{
  font-size: 0.8rem;
  letter-spacing: 0.038;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav li a{
  border-top: 0.1875rem solid var(--primary-dark);
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange) !important;
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange) !important;
}